$lecture-background: #90D6A0;
$lecture-color: #FFFFFF;

$practice-background: #57C5FE;
$practice-color: #FFFFFF;

$laboratory-background: #FEC166;
$laboratory-color: #FFFFFF;

$exam-background: #7F8AEF;
$exam-color: #FFFFFF;

$workshop-background: #FE848F;
$workshop-color: #FFFFFF;

$discussion-background: #FE848F;
$discussion-color: #FFFFFF;